.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.vert{
    background-color: seagreen;
}
.gris{
    background-color: gray;
}
.row{
    margin: 20px;
}


/* exercice4*/

.navbar{
    background-color: grey;
}
.nav-home{
    color: white;
    padding-right: 10px;
}
.nav-team{
    color: white;
    padding-right: 10px;
}
.nav-contact{
    color: white;

}

nav a:hover {
    text-decoration: none;
    color: white;
}

.container{
    padding: 50px;
}

h1{
    margin-top: 60px;
    padding: 20px;
    
}
.bg-light{
    display: flex;
    text-align: center;
    margin: 0px;
    justify-content: space-between;
}
.img{
    padding: 50px;
    margin-left: 70px;
}
.pic-me{
    font-weight: bold;
}
.my-img-profil{
    border-radius: 999px;
}
.container{
    height: 350px;
}
.container .row h3{
    font-weight: bold;
}



